body{
    /* display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 170px), 1fr) 50px;
gap: 20px */


}

header{
    background-color: yellow;
    font-size: 50px;
}
.logo{
    width: 100px;
}

h1{
    padding-top: 40px;
    text-align: center;

}
main{
     background-image: url('../img/background.jpg');
height: 800px;
 }
 #tablee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tablee td, #tablee th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tablee tr:nth-child(even){background-color: #f2f2f2;}
  
  #tablee tr:hover {background-color: #ddd;}
  
  #tablee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: yellow;
    color: white;
  }